h1 {
    color: rgb(255, 47, 47);
    margin: 50px;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    height: 50vh;
    margin: 0;
    font-family: Arial, sans-serif;
}   
.Lagerstatus{
    background-color: #12aba8;
    
}

table {
    border-collapse: collapse;
    width: 500px;
    margin: 20px;
}

.Layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    height: 40vh;
    background-color: #f0f0f0;
    border: 2px solid black;
    width: 100%;
}



th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

.table-container{
    width: 700px;
    margin: 20px auto;
    max-height: 300px;
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: none; /* Disable horizontal scrolling */
    border: 1px solid #ccc;
}

.knap{
    text-align: center;
    color: black;
    background-color:wheat;
    line-height: 3.5;
    width: 200px;
    font: calibri;
    font-size: 15px;
    margin: 10px;
    border: 1px solid black;
    cursor: pointer;
}


picture {
   position: absolute;
    top: 1%;
    left: 90%;
    color: blue
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: right;
}

#Scanning {
    display: flex;
    flex-direction: column;
    align-self:flex-start;
    justify-content: center;
    background-color: #f0f0f0;
    height: 75px;
    margin: 20px;
    font-family: Arial, sans-serif;
}

.antalknap {
    display: flex;
    margin: 30px;
    align-self: center;
    justify-content: flex-end;
    height: 20px;
}