<h3>
    Warehouse wares (change later):
</h3>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Barcode</th>
            <th>Price</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
         @for (ware of wares(); track ware.barcode)
         {
             <tr>
                 <td>{{ ware.name }}</td>
                 <td>{{ ware.barcode }}</td>
                 <td> ${{ ware.price }}</td>
                 <td>{{ ware.quantity }}</td>
                 <td> <app-update-ware-form
                    [action]='"decreaseQuantity"'
                    [barcode]="ware.barcode"
                    [submitFunction]="submitWareUpdateFunction()"
                     ></app-update-ware-form> </td>

                <td> <app-ware-delete-button
                    [barcode]="ware.barcode"
                    [submitFunction]="submitWareDeleteFunction()"
                    ></app-ware-delete-button> </td>
             </tr>
        } @empty {
            <div>
                No wares found in database. Possible error.
            </div>
        }
    </tbody>
</table>