<header>
    <h1>Warehouse Overview</h1>
</header>

<main>
    <div>
        <app-ware-lookup
        [(barcode)]="barcode"
        [lookedUpWare]="lookedUpWare()"
        [wareLookupStatus]="wareLookupStatus()"
        [submitWareFunction]="handleWareFormSubmit"
        [submitWareUpdateFunction]="handleWareUpdateFormSubmit"
        ></app-ware-lookup>   
    </div>
    <div>
        <app-ware-list
        [wares]="wareList()"
        [submitWareDeleteFunction]="handleWareDeleteSubmit"
        [submitWareUpdateFunction]="handleWareUpdateFormSubmit"
        ></app-ware-list>
    </div>
    
</main>