<div class="form-container">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <div class="form-field">
      <label for="quantity"></label>Quantity
      <input
        type="text"
        id="quantity"
        formControlName="quantity"
      />
    </div>

    <!--      todo what's ngs new control flow syntax?-->
    @if (forStoring) {
      <button type="submit">
        Store ware
      </button>
    }
    <button type="submit" *ngIf="!forStoring">
      Pack ware
    </button>
  </form>
</div>
