<div class="form-container">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">

        <div class="form-field">
            <label for="quantity"></label>Quantity
            <input
            type="text"
            id="quantity"
            formControlName="quantity"
            />
        </div>

        <button type="submit" *ngIf="forStoring">
            Store ware
        </button>
        <button type="submit" *ngIf="!forStoring">
            Pack ware
        </button>
    </form>
</div>